<div style="max-width: 700px; margin-left: 20px">
    <a href="/menu-cart">Demo shoping cart with Redis</a>
    <br>
    <a href="/find-store">Demo get Location and Find near Store with Geo2dsphere</a>
    <br>
    <a href="/hashes">Demo hashes Redis</a>
</div>
